body main h1
{
    text-align: center;
}
div
{
    margin-top: 1.25em;
}
label {

    min-width: 100px;
    display: inline-block;
}
 {
    padding: 0.35em 0.75em 0.625em;
}
form
{
    text-align: center;
}
